@model IEnumerable<InvoiceManagerApp.Models.Fatura>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Faturas</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Fatura" asp-action="Create" class="btn btn-primary">
                Adicionar Nova Fatura
            </a>
        </div>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Data de Emissão
                    </th>
                    <th>
                        Data de Vencimento
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Valor Pago
                    </th>
                    <th>
                        Fornecedor
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="50%">@obj.DtEmissao</td>
                        <td width="30%">@obj.DtVencimento</td>
                        <td width="30%">@obj.Total</td>
                        <td width="30%">@obj.ValorPago</td>
                        <td width="30%">@obj.Fornecedor.Nome</td>
                        <td width="30%">@obj.Cliente.Nome</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Fatura" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-2">
                                    Editar
                                </a>
                                <a asp-controller="Fatura" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                    Deletar
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Não há Faturas para exibir.</p>
    }

</div>